{% extends 'default.html.twig' %}

{% block title %}About{% endblock %}
{% block AboutCurrent %}selected{% endblock %}

{% block contentTop %}
<h1>About GameStats</h1>
{% endblock %}

{% block content %}
<p>
    This site gathers stats from all bzflag servers that are registered with the list server.
    It uses a stats collector [get link] which records statistical data to a database that this website displays
    in various ways.
</p>
<p>
more to come..
</p>
    

{% endblock %}