img{
  border-color: black;
  color: black;
}

	body, table {
		color: #dee; 
		font-family: tahoma, Verdana, Lucida, Arial, sans-serif;
		font-size: 14px; 
	}

	body { background-color: #282828; }

	textarea,  select, input { 
		background-color: #225; 
		color: white; 
		border: solid 1px; 
	}
	textarea{
		padding: 2px; padding-left: 3px;
	}


/* inactive teams in enter match dropdowns */
	.inactsel { background-color: #402052;  }


/* box for displaying match in matchedit */
	.outbox{
			border: 2px outset #222222;
			background-color: 555555;
			padding: 5px;
	}
	
	.feedback{
		color: #ffcc44;
		font-weight: normal;
		font-size: 18px;
	}
	.error{
		color: #ff4444;
		font-weight: normal;
		font-size: 16px;
	}


	.checkbox input{
		border: 0px;
	}

	.insetForm{
		border-style: inset;
		border-width: 2px;
		background-color: #444;
		border-color: 222;
		color: white;
		padding: 2px;	padding-left: 5px; padding-right: 5px;
	}
	
	.contTitle{
		font-size: 16px;
		color: #ddffdd;	
	}

/***  formedit  ***/	
	.edtdesc{
		font-size: 16;
		color: #ec0
	}

	.edtreq{
		background-color: #402
	}




/* boxes for displaying warnings/errors in edit forms*/
	.errtitle{
		font-size: 18px;
		color: #660000;
	}
	.errlist{
		color: #000;
	}
	.errtxt{
		color: #c00;
		text-decoration: blink;
	}
	.errbox{
		border: 2px outset #222222;
		background-color: #ccc;
		padding: 2px;
	}

	.warnbox { 
		color: #440000;
		background-color: #aaa; 
		font-size: 16px; 
	}


.dim { color: #999999; }
.new { color: #ff8888; }

.statBar {font-size: 12px;}

.errorPage{
	font-size: 16px;
	color: #ff4444;
}





	
.rowEven {background-color: #2c2c38;}
.rowOdd {}
.myteam {background-color: #552222;}
.tabhead {  color: white;  background-color: #181818; font-size: 14px;  }


a { text-decoration: none; }
a:link, a:visited, .deadlink { color: #FFcc88; }
a:active { color: #FF5500; }
a:hover { color: #B4A4BE; }


/****************   LINK BUTTONS  (Href) *****************/
table.defbut{
}

table.defbut td, table.clrbut td, table.admbut td {
	border-style: outset; 
	border-color: #ca0;
	border-width: 2;
}
table.defbut td a, table.clrbut td a, table.admbut td a{
	display: block;
	padding: 1px;
	padding-top: 3px;
	padding-bottom: 2px;
	text-decoration: none;
	font-size: 14px; 
	padding-left: 10px;
	padding-right: 10px;
}

table.defbut td a:link, table.defbut td a:visited, table.defbut td a:active{
	color: #ffffee;
	background-color: #282855;}
table.defbut td a:hover{
	background-color: #333388;}

table.clrbut td a:link, table.clrbut td a:visited{
	color: #ffffee;
	background-color: #004400;}
table.clrbut td a:hover, table.clrbut td a:active{
	background-color: #006600}

table.admbut td a:link, table.admbut td a:visited{
	color: #ffffee;
	background-color: #550000;}
table.admbut td a:hover, table.admbut td a:active{
	background-color: #770000;}


/****************   FORM BUTTONS  (submit) *****************/
input.defbut {
	background-color: #282855;
	border: 2px;
	border-color: #ca0;
	font-size: 14;
	border-style: outset;
	padding-top: 2px;
	padding-bottom: 1px;
}

input.clrbut {
	background-color: #004400;
	border: 2px;
	font-size: 14;
	border-style: outset;
	border-color: #ca0;
	padding-top: 2px;
	padding-bottom: 1px;
}

input.admbut {
	background-color: #550000;
	border: 2px;
	font-size: 14;
	border-style: outset;
	border-color: #ca0;
	padding-top: 2px;
	padding-bottom: 1px;
}


/****************   LEFT (Main) MENU *****************/

table.navbar td a{
   display: block;
   padding: 3px;
   padding-left: 6px;
   text-decoration: none;
   font-size: 16px; 
}
table.navbar td a:link, table.navbar td a:visited, table.navbar td a:active{
   color: #ffffdd;
}
table.navbar td a:hover{
   color: #000;
   background-color: #f0f0e8;
}


/****************   TOP (Admin) MENU *****************/
	.admback{
		background-color: #410277;
	}
	table.admbar{
		padding-bottom: 0px;
	}
	table.admbar a{
	  	display: block;
  		padding-top: 1px;
  		padding-bottom: 2px;
	  	padding-left: 6px;
	  	padding-right: 6px;
	  	text-decoration: none;
		font-size: 12px; 
		font-style:normal; 
		font-weight: normal;
		border: solid 1px #888;
	}
	table.admbar a:link, table.admbar a:visited, table.admbar a:active{
		background-color: #222;
		color: white;
	}
	table.admbar a:hover{
		color: #fff;
		background-color: #800;
	}


/****************   MAIN & MENU content panels *****************/
.menuHead, .mainHead{
	background-color: #880000; 
	border-color: #ff0000;
	border-style: outset; 
	border-width: 2px; 
	border-bottom: 1px solid #ccc;
	padding: 3px;
	margin-bottom: 1px;
	font-size: 16px;
}

.mainHead{
	padding: 2px;
	margin-bottom: 0px;
}


.menuBody, .mainBody{
	background-color: #111111; 
	border-color: #fcc;
	border-style: outset; 
	border-top: 0px;
	border-width: 2px; 
	padding-top: 4px;
	padding-bottom: 4px;
}

.mainBody{
	padding-left: 10px;
	padding-right: 10px;
}



/**** FAQ page ****/
.afaq {	font-size: 12px;  color: #09f;}
.hfaq {	font-size: 14px;}
.qfaqtxt {color: #bbf;}
.qfaq{	font-size: 12px;  color: #09f;}

/*** Playerinfo page ***/
.playerbio {}
.playername { font-size: 16px; font-weight: bold}


.freqhours { color: black;  background-color: #888888 }
.freqhigh { color: white;  background-color: #ff4040 }

