<?php

$dbhost  = "localhost";
$dbname  = "bzflaglsdb";
$dbuname = "bzlsuser";
$dbpass  = "xxxxxx";
$bbdbname = 'bzbb';

$ldap_host = "localhost";
$ldap_rootdn = "cn=Manager,dc=my-domain,dc=com";
$ldap_rootpass = "xxxxxx";
$ldap_suffix = "dc=my-domain,dc=com";

?>
