
	body, table {
		color: black; 
		font-size: 14px; 
	}

	body { background-color: #c7d0d6; }

	textarea, select, input { 
		background-color: #ffffee; 
		color: black; 
		border:solid 1px; 
	}
	textarea{
		padding: 2px; padding-left: 3px; 
	}


/* inactive teams in enter match dropdowns */
	.inactsel { background-color: #d4d4ff;  }


/* box for displaying match in matchedit */
	.outbox{
		border: 2px outset #222222;
		background-color: #ccc;
		padding: 5px;
	}


/***  formedit  ***/	
	.edtdesc{
		font-size: 16;
		color: #008
	}

	.edtreq{
		background-color: #fdd
	}

	.feedback{
		color: #550033;
		font-weight: normal;
		font-size: 18px;
	}
	.error{
		color: #550000;
		font-weight: normal;
		font-size: 16px;
	}

/* team name in team profile */
	.teamName{
		color: black;
		background-color: #eee6ff;
		font-size: 20px;
		font-weight: bold;
	}


	.checkbox input{
		border: 0px;
	}

	.insetSubmenu{
		border-style: inset;
		border-width: 2px;
		background-color: #eecc88;
		border-color: #aaa;
		padding: 2px;	padding-left: 5px; padding-right: 5px;
		color: white
	}

	.insetForm{
		border-style: inset;
		border-width: 2px;
		background-color: #c4c4c4;
		border-color: #aaa;
		padding: 2px;	padding-left: 5px; padding-right: 5px;
	}
	
	.contTitle{
		font-size: 16px;
		color: #663300;	
	}


	
.rowOdd {background-color: #ffffff;}
.rowEven {}
.myteam {background-color: #ffcccc;}
.tabhead {  color: black;  background-color: #bcc4cc; font-size: 16px;  }


a { text-decoration: none; font-style:italic; }
a:link { color: #220000; }
a:visited { color: #220000; }
a:active { color: #220000; }
a:hover { color: #222288; background-color: #ffff88}


/****************   LINK BUTTONS  (Href) *****************/
table.defbut{
}

table.defbut td, table.clrbut td, table.admbut td {
	border-style: outset; 
	border-color: #88f;
	border-width: 2;
}
table.defbut td a, table.clrbut td a, table.admbut td a{
	display: block;
	padding: 1px;
	padding-top: 3px;
	padding-bottom: 2px;
	text-decoration: none;
	font-size: 14px; 
	padding-left: 10px;
	padding-right: 10px;
	font-style:normal; 
	color:black;
}

table.defbut td a:link, table.defbut td a:visited, table.defbut td a:active{
	background-color: #fafabb;}
table.defbut td a:hover{
	background-color: #e4e488;}

table.clrbut td a:link, table.clrbut td a:visited{
	background-color: #aafaaa;}
table.clrbut td a:hover, table.clrbut td a:active{
	background-color: #66dd66}

table.admbut td a:link, table.admbut td a:visited{
	background-color: #ffb800; color: black}
table.admbut td a:hover, table.admbut td a:active{
	background-color: #dd8800; color:black}


/****************   FORM BUTTONS  (submit) *****************/
input.defbut, input.clrbut, input.admbut {
	background-color: #fafabb;
	border: 2px;
	border-color: #88f;
	font-size: 14;
	border-style: outset;
	padding-top: 2px;
	padding-bottom: 1px;
	color:black;
}

input.clrbut {
	background-color: #aafaaa;
}

input.admbut {
	background-color: #ffb800;
}


/****************   LEFT (Main) MENU *****************/

table.navbar td a{
   display: block;
   padding: 3px;
   padding-left: 6px;
   text-decoration: none;
   font-size: 16px; 
   font-style:normal; 
}
table.navbar td a:link, table.navbar td a:visited, table.navbar td a:active{
   color: #000000;
}
table.navbar td a:hover{
   color: #eee;
   background-color: #999;
}



/****************   TOP (Admin) MENU *****************/
	.admback{
		background-image: url("ctflogo.jpg");
	}
	table.admbar{
		color: #c00;
		font-size: 12px; 
		font-weight: bold;
		padding-bottom: 0px;
	}
	table.admbar a{
	  	display: block;
	  	padding-top: 1px;
	  	padding-bottom: 2px;
	  	padding-left: 6px;
	  	padding-right: 6px;
	  	text-decoration: none;
		font-size: 12px; 
		font-style:normal; 
		font-weight: normal;
		border: solid 1px #aaa;
	}
	table.admbar a:link, table.admbar a:visited, table.admbar a:active{
		background-image: url("darkbkg.jpg");
		color: #ddd;
	}
	table.admbar a:hover{
		background-image: url("redbkg.jpg");
		color: #fff;
	}


/****************   MAIN & MENU content panels *****************/

.menuHead, .mainhead {
	background-color: #668190; 
	border-color: 000055;
	border-style: outset; 
	border-width: 2px; 
	border-bottom: 1px solid #555555;
	padding: 2px;
	padding-top: 3px;
	margin-bottom: 1px;
	font-size: 16px;
	color: white;
}

.menuBody, .mainBody{
	background-color: #ecf0f6; 
	border-color: 2a2a2a;
	border-style: outset; 
	border-top: 0px;
	border-width: 2px; 
	padding-top: 4px;
	padding-bottom: 4px;

}

.mainBody{
	padding-left: 10px;
	padding-right: 10px;
}

.mainHead{
	padding: 1px;
	margin-bottom: 0px;
}



/* boxes for displaying warnings/errors in edit forms*/
	.errtxt{
		color: #cc0000;
		text-decoration: blink;
	}
	.errtitle{
		font-size: 18px;
		color: #cc0000;
	}
	.errbox{
		border: 2px outset #222222;
		background-color: #ccc;
		padding: 2px;
	}

	.warnbox { 
		color: #440000;
		background-color: #cccccc; 
		font-size: 16px; 
	}

	.dim { color: #999999; }

.statBar {font-size: 12px; color: white;}



.errorPage{
	font-size: 16px;
	color: #ff4444;
}

/**** FAQ page ****/
.afaq {	font-size: 14px; font-weight: bold; color: #024;}
.hfaq {	font-size: 14px;}
.qfaqtxt {	color: #400;}
.qfaq{	font-size: 14px; color: #024;}

/*** Playerinfo page ***/
.playerbio {}
.playername { font-size: 16px; font-weight: bold}


.freqhours { color: black;  background-color: #888888 }
.freqhigh { color: white;  background-color: #ff4040 }


