#<? echo 'Nice try!<BR>'; exit; ?>

# This is not meant to be php code!
# This file is parsed by the webcode, and used as an 'include' for shell scripts
# Can be placed above the web root for extra security.

SQLhost=localhost
SQLdatabase=DatabaseNameHere
SQLuser=DbUser
SQLpass="DbPassword"
LEAGUErootdir=/var/www/html/bzleague
LEAGUEbackups=/var/www/html/_backups

