<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
        <link rel="stylesheet" href="{{constant('SITE_ROOT')}}/css/error.css" />
    </head>
<body>
<div id="wrapper">
    <h1>Error Processing Page</h1>
    <div id="errBody">
        We are sorry, but something unexpected has happened, and the page you requested could not be served to you
        <div class="link"><a href="{{ SiteRoot }}">Click Here To Go Back To The Home Page</a></div>
        <div id="errTitle">Details:</div>
        <div id="errDetails">
            <div id="url">You tried to access: <span>{{ url }}</span></div>
            <div id="error">Error: <span>{{ error }}</span></div>
        </div>
    </div><!-- errBody -->
</div> <!-- wrapper -->
</body>
</html>